In [2]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [16]:
data =  pd.read_excel(r'C:/Users/ADL/Desktop/Bigrammes2.xlsx')
data

,the_company,trader_joe,worker_â€™,worker_said,the_national,national_labor,relations_board,workers_are,the_union,that_musk,...,the_worker,the_office,the_email,ice_cream,workers_united,about_the,because_of,the_allegations,years_.,board_officials
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
387,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
388,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
389,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
390,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [21]:
freqitemsets = apriori(data, min_support=0.001, use_colnames=True)
freqitemsets['length'] = freqitemsets['itemsets'].apply(lambda x: len(x))

C:\ProgramData\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [24]:
freqitemsets[:20]

     support               itemsets  length
0   0.089514          (the_company)       1
1   0.084399           (trader_joe)       1
2   0.007673           (worker_â€™)       1
3   0.010230          (worker_said)       1
4   0.007673         (the_national)       1
5   0.007673       (national_labor)       1
6   0.007673      (relations_board)       1
7   0.010230          (workers_are)       1
8   0.023018            (the_union)       1
9   0.010230            (that_musk)       1
10  0.020460            (the_store)       1
11  0.020460         (according_to)       1
12  0.017903            (have_been)       1
13  0.010230          (for_comment)       1
14  0.020460          (company_â€™)       1
15  0.020460  (activision_blizzard)       1
16  0.017903             (the_nlrb)       1
17  0.012788       (union_campaign)       1
18  0.012788          (against_the)       1
19  0.012788            (when_they)       1

In [25]:
rules = association_rules(freqitemsets, metric="lift")
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules[1:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
1,(workers_are),(the_company),0.010230,0.089514,0.002558,0.250000,2.792857,0.001642,1.213981,1,1
2,(the_company),(the_union),0.089514,0.023018,0.007673,0.085714,3.723810,0.005612,1.068574,1,1
3,(the_union),(the_company),0.023018,0.089514,0.007673,0.333333,3.723810,0.005612,1.365729,1,1
4,(the_company),(that_musk),0.089514,0.010230,0.002558,0.028571,2.792857,0.001642,1.018881,1,1
5,(that_musk),(the_company),0.010230,0.089514,0.002558,0.250000,2.792857,0.001642,1.213981,1,1
6,(the_company),(the_store),0.089514,0.020460,0.002558,0.028571,1.396429,0.000726,1.008350,1,1
7,(the_store),(the_company),0.020460,0.089514,0.002558,0.125000,1.396429,0.000726,1.040555,1,1
8,(the_company),(according_to),0.089514,0.020460,0.005115,0.057143,2.792857,0.003284,1.038906,1,1
9,(according_to),(the_company),0.020460,0.089514,0.005115,0.250000,2.792857,0.003284,1.213981,1,1
10,(the_company),(have_been),0.089514,0.017903,0.002558,0.028571,1.595918,0.000955,1.010982,1,1
11,(have_been),(the_company),0.017903,0.089514,0.002558,0.142857,1.595918,0.000955,1.062234,1,1
12,(the_company),(company_â€™),0.089514,0.020460,0.020460,0.228571,11.171429,0.018629,1.269774,1,1
13,(company_â€™),(the_company),0.020460,0.089514,0.020460,1.000000,11.171429,0.018629,inf,1,1
14,(the_company),(activision_blizzard),0.089514,0.020460,0.005115,0.057143,2.792857,0.003284,1.038906,1,1
15,(activision_blizzard),(the_company),0.020460,0.089514,0.005115,0.250000,2.792857,0.003284,1.213981,1,1
16,(the_company),(the_nlrb),0.089514,0.017903,0.002558,0.028571,1.595918,0.000955,1.010982,1,1
17,(the_nlrb),(the_company),0.017903,0.089514,0.002558,0.142857,1.595918,0.000955,1.062234,1,1
18,(the_company),(union_campaign),0.089514,0.012788,0.005115,0.057143,4.468571,0.003970,1.047043,1,1
19,(union_campaign),(the_company),0.012788,0.089514,0.005115,0.400000,4.468571,0.003970,1.517477,1,1