In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer 

from collections import Counter
from nltk import ngrams
from nltk.tokenize import WordPunctTokenizer

from nltk.stem import PorterStemmer

from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

import nltk
from collections import Counter
from nltk.tokenize import WordPunctTokenizer 
import pandas as pd

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
def freq(df):


    text=''
    for i in df['contenu']:
        text+=str(i)
    text=text.lower()
    
    tokens = WordPunctTokenizer().tokenize(text) 

    stop_words=stopwords.words('french')

    ponct="!@#$%^&*()_+=-[]{}'\";:/?.>,<\|`~"

    tknz=[]
    for i in tokens:
        if (i not in stop_words) and (i not in ponct) :
            tknz.append(i)


    # Instantiate a stemmer
    ps = PorterStemmer()
    # and stem
    stems = [ps.stem(tk) for tk in tknz]
    
    return stems

In [3]:
def clean_freq(df):


    text=''
    for i in df['contenu']:
        text+=str(i)
    text=text.lower()
    
    tokens = WordPunctTokenizer().tokenize(text) 


    stop_words=stopwords.words('french')

    ponct="!@#$%^&*()_+=-‚Äú[]‚Äô{}'\";:/?.>,<\|`~"

    tknz=[]
    for i in tokens:
        if (i not in stop_words) and (i not in ponct) :
            tknz.append(i)


    # Instantiate a stemmer
    ps = PorterStemmer()
    # and stem
    stems = [ps.stem(tk) for tk in tknz]
    
    count=[i[1] for i in Counter(stems).most_common()]
    term=[i[0] for i in Counter(stems).most_common()]


    
    return [term,count]

In [4]:
def uni_bg_freq(df):
    

    stems_l=freq(df)
    stems=stems_l
    bigrams = [w for w in ngrams(stems,n=2)]

    unique_bigram=[]
    for i in bigrams:

        c=i[0]+' '+i[1]
        unique_bigram.append(c)


    Counter(unique_bigram).most_common()
    
    count=[i[1] for i in Counter(unique_bigram).most_common()]
    term=[i[0] for i in Counter(unique_bigram).most_common()]


    
    return [term,count]

In [7]:
from cleantext import clean
clean(text, no_emoji=True)
text=[clean(i, no_emoji=True) for i in df['contenu']]

NameError: name 'text' is not defined

In [8]:
#import clean function
from cleantext import clean

#provide string with emojis
text = "This sample text contains laughing emojis üòÄ üòÉ üòÑ üòÅ üòÜ üòÖ üòÇ ü§£"

#print text after removing the emojis from it
print(clean(text, no_emoji=True))

this sample text contains laughing emojis

In [17]:
def tf_freq(df):
    
    text=[clean(i, no_emoji=True) for i in df['contenu']]
    
    vectorizer = TfidfVectorizer()
    vectorizer.fit(text)
    
    idf=list(vectorizer.idf_)
    dicti=vectorizer.vocabulary_

    mot=list(dicti.keys())
    index=list(dicti.values())
    
    return [idf,mot,index]

In [16]:
df=pd.read_csv('df.csv')

In [11]:
word_freq=clean_freq(df)

In [12]:

import pandas as pd


# List1
word = word_freq[0]

# List2
count = word_freq[1]




# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(word,count))

# Assign data to tuples.
list_of_tuples


# Converting lists of tuples into
# pandas Dataframe.
words = pd.DataFrame(list_of_tuples,columns=['word','count'])

# Print data.
words

            word  count
0              a     75
1           apr√®     43
2           cett     40
3           suit     33
4      publicit√©     31
...          ...    ...
1569    m√©gaphon      1
1570      d√©lire      1
1571        part      1
1572           4      1
1573  upqxo7lux7      1

[1574 rows x 2 columns]

In [13]:

import pandas as pd

uni_bg_freq=uni_bg_freq(df)
# List1
word = uni_bg_freq[0]

# List2
count = uni_bg_freq[1]




# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(word,count))

# Assign data to tuples.
list_of_tuples


# Converting lists of tuples into
# pandas Dataframe.
bigram = pd.DataFrame(list_of_tuples,columns=['bigram','count'])

# Print data.
bigram

                                          bigram  count
0                                      suit apr√®     31
1                                      apr√® cett     31
2                                 cett publicit√©     31
3                                           ‚Äù, a     12
4                                 voir √©galement     10
...                                          ...    ...
3221                                vid√©o chrono      1
3222                       capitol january6thcmt      1
3223  january6thcmt january6thcommitteehearingsp      1
3224                              com upqxo7lux7      1
3225                                upqxo7lux7 ‚Äî      1

[3226 rows x 2 columns]

In [19]:

import pandas as pd

tf_freq=tf_freq(df)
# List1
tf = tf_freq[0]

# List2
word = tf_freq[1]

# List2
index = tf_freq[2]


# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(index,word,tf))

# Assign data to tuples.
list_of_tuples


# Converting lists of tuples into
# pandas Dataframe.
tf = pd.DataFrame(list_of_tuples,columns=['index','word','tf'])

# Print data.
tf

      index        word        tf
0      1014       maroc  3.662588
1       931          la  3.374906
2      1240      police  4.068053
3      1016   marocaine  4.068053
4      1160      ouvert  3.151762
...     ...         ...       ...
1736    961      lisant  4.068053
1737   1033   megaphone  4.068053
1738    518      delire  3.662588
1739   1179        part  4.068053
1740   1670  upqxo7lux7  4.068053

[1741 rows x 3 columns]

In [ ]:

import pandas as pd


# List1
title = huff[0]+lematin[0]+lavieeco[0]

# List2
link = huff[1]+lematin[1]+lavieeco[1]

# List1
contenu = huff[2]+lematin[2]+lavieeco[2]


# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(title,link, contenu))

# Assign data to tuples.
list_of_tuples


# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(list_of_tuples,columns=['title','link', 'contenu'])

# Print data.
df

In [87]:
words.to_csv('words.csv',index=False)
bigram.to_csv('bigram.csv',index=False)
tf.to_csv('tf.csv',index=False)